{% extends 'base.html' %}
{% load static %}

{%block content%}

    
<div class="container-fluid">
<div class="row">

        <div class="col-md-12 px-0">

          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="3000">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                        <div class="carousel-caption">
                        <h1>Young Star Sports Club</h1>
                        
                        </div>
                        <img src="{% static 'images/bg_home.jpg'%}" class="d-block w-100" alt="..." >
                        
                        </div>
                        <div class="carousel-item">
                        <div class="carousel-caption">
                        <h1>Young Star Sports Club</h1>
                        
                        </div>
                        <img src="{% static 'images/bg_home_2.jpg'%}" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                        <div class="carousel-caption">
                        <h1>Young Star Sports Club</h1>
                        
                        </div>
                        <img src="{% static 'images/bg_home_3.jpg'%}" class="d-block w-100" alt="...">
                        </div>
                   </div>
                </div>
            
        </div>    
</div>   
</div>





<div class="container">
<div class="row">
                                 
<div class= 'col-md-3'>                 
    <div class="card-pro">
        <div class="box">
            <div class="img">
                <img src="{%static 'images/khalil.jpg'%}">
            </div>
            <h2>Md. Khalilur RAHMAN<br><span>Founder (Chairman)</span></h2>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et.</p>
            <span>
                <ul>
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                </ul>
            </span>
        </div>
    </div>                   
</div>

<div class= 'col-md-3'>                 
    <div class="card-pro">
        <div class="box">
            <div class="img">
                <img src="{%static 'images/nahid.jpg'%}">
            </div>
            <h2>Md. Nahid Hasan Jalil<br><span>Co-founder (Secratery)</span></h2>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et.</p>
            <span>
                <ul>
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                </ul>
            </span>
        </div>
    </div>                   
</div>

<div class= 'col-md-3'>                 
    <div class="card-pro">
        <div class="box">
            <div class="img">
                <img src="{%static 'images/rasel.jpg'%}">
            </div>
            <h2>Eng Mohammed RASEL<br><span>Organizar</span></h2>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et.</p>
            <span>
                <ul>
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                </ul>
            </span>
        </div>
    </div>                   
</div>
                         
<div class= 'col-md-3'>                 
    <div class="card-pro">
        <div class="box">
            <div class="img">
                <img src="{%static 'images/mehedi.jpg'%}">
            </div>
            <h2>Md Mehedi Hasan<br><span>Associate Organizer</span></h2>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et.</p>
            <span>
                <ul>
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                </ul>
            </span>
        </div>
    </div>                   
</div>          
</div>   
</div>


<div class="container-fluid padding-top">

<div class="container ">

  <h2> Gallery</h12>


  <div class="row">
           

            <div class="col-md-12">

            <div class="accordian">
                <ul>
                    <li><img src="{%static 'images/gallery1.jpg'%}"/></li>

                    <li><img src="{%static 'images/gallery2.jpg'%}"/></li>
                    
                    <li><img src="{%static 'images/gallery3.jpg'%}"/></li>

                    <li><img src="{%static 'images/gallery4.jpg'%}"/></li>

                    <li><img src="{%static 'images/gallery5.jpg'%}"/> </li>
                    
                </ul>
            </div>
            </div>
            
 
</div>
</div>
</div>

<section class="padding-top">

<div class="container-fluid call-container">


<div class="call-to-action">
<div class="row justify-content-between">
    <div class="col-md-4">
            <div class="card">
            
            <div class="card-body">
                <h5 class="card-title">We Organize Tournament</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                
            </div>
           </div>

              <div class="card">
           
            <div class="card-body">
                <h5 class="card-title">We Train Players</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                
            </div>
           </div>
    </div>
    <div class="col-4">

         <div class="card">
            
            <div class="card-body">
                <h5 class="card-title">We Provide Equipments</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                
            </div>
           </div>


            <div class="card">
            
            <div class="card-body">
                <h5 class="card-title">We Assure Safety</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                
            </div>
           </div>
      


    </div>
  </div>


</div>



</div>


</section>




<div class="container-fluid padding-top mt-5">
<div class="container">

<h1> Our Players</h1>

<div class="swiper-container">
{% if members%}
    <div class="swiper-wrapper">
    {% for i in members%}

      <div class="swiper-slide">

                <div class="card">
                        <img class="card-img-top" src="{{i.photo.url}}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{i.name}}</h5>
                            <p class="card-text">{{i.category}}</p>
                            <p class="card-text">{{i.position}}</p>
                            <p class="card-text">{{i.join_date}}</p>
                            <p class="card-text">{{i.address}}</p>
                            <a href="{% url 'profile' i.pk %}" class="btn btn-primary">Details</a>
                        </div>
                </div>
        
      </div>

    {% endfor %}  
    </div>
    <!-- Add Pagination -->

    <div class="swiper-pagination"></div>
{%endif%}
  </div>
</div>
</div>











{%endblock%}